{% extends "comp_service/layout/base.html" %}
{% load static %}
{% block title %}УлКомп | О нас{% endblock %}
{% block content %}
    <div class="container mt-5">
        <h1 class="mb-4">О нас</h1>

        <p>
            Добро пожаловать в компьютерную мастерскую! Мы - команда профессиональных специалистов, готовых помочь вам
            с решением любых проблем, связанных с вашими компьютерами.
        </p>

        <p>
            Наша мастерская предоставляет широкий спектр услуг, включая ремонт и обслуживание компьютеров, настройку
            программного обеспечения, восстановление данных, а также консультации по выбору и апгрейду оборудования.
        </p>

        <p>
            Мы стремимся предоставлять высококачественные услуги и создавать удобную среду для наших клиентов. Наша цель -
            сделать ваш опыт использования компьютеров максимально комфортным и эффективным.
        </p>

        <p>
            Свяжитесь с нами, если у вас есть вопросы или если вам требуется помощь. Мы готовы помочь вам в любое время!
        </p>
    </div>
    <div class="container mt-5">
        <h4>Форма обратной связи:</h4>
        <form method="post" class="form-contact form">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Отправить</button>
        </form>
    </div>
{% endblock %}