{% extends "comp_service/layout/base.html" %}
{% load static %}
{% block title %}УлКомп | Детали заказа{% endblock %}
{% block content %}
    <div class="container mt-5">
    <h1 class="mb-4">Детали заказа #{{ order.pk }}</h1>

    <div class="card mb-3">
        <div class="card-header">
            Заказ #{{ order.pk }}
        </div>
        <div class="card-body">
            <h5 class="card-title">Дата заказа: {{ order.order_date }}</h5>
            <p class="card-text">
                Услуги в заказе:
                <ul>
                    {% for service in order.services.all %}
                        <li>{{ service.title }} - {{ service.cost }} рублей</li>
                    {% endfor %}
                </ul>
            </p>
            <p class="card-text">Статус заказа: {{ order.get_status_display }}</p>
            <p class="card-text">Сумма заказа: {{ order.total_cost }} рублей</p>
            {% if order.check_file %}
                <p class="card-text">
                    <a href="{{ order.check_file.url }}" target="_blank">Скачать чек</a>
                </p>
            {% endif %}
        </div>
    </div>

    <a href="{% url 'main:profile' username=username %}" class="btn btn-secondary">Назад к заказам</a>
</div>
{% endblock %}