{% extends "comp_service/layout/base.html" %}
{% load static %}
{% block title %}УлКомп | Услуги{% endblock %}
{% block content %}
    <div class="container mt-5">
        <h1 class="mb-4">Услуги</h1>

        <ul class="list-group">
            {% for service in services %}
                <li class="list-group-item">
                    <a href="{% url 'main:service_detail' slug=service.slug %}">
                        <h4>{{ service.title }}</h4>
                        <p>{{ service.description }}</p>
                        <p>Стоимость: {{ service.cost }} рублей</p>
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}